//admin
.fun2 {
  span {
    color: $text-color;

    &:hover {
      color: $text-color3;
    }
  }
}
.visibility{
  margin-right: 25px;
  // height: 15px;
}
.page-link.chevron_left {
  line-height: 1.25rem !important;

}

.page-link {
  font-size: 1rem;
  color: $text-color !important;
  line-height: 1.1875rem !important;
  padding-top: 6px !important;
  padding-bottom: 7px !important;
  padding-right: 11.5px !important;
  padding-left: 11.5px !important;
  border: 1px solid $text-color3 !important;

  &:hover {
    color: #fff !important;
    background-color: $text-color3 !important;
  }

  .material-icons {
    font-size: 1.5rem;
  }
}
.page-link.active{
  background-color: $text-color3 !important;
  color: #fff !important;
}
.page-item:first-child .page-link {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
}

.page-item:last-child .page-link {
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}
thead > tr th{
  padding: 0 !important;
}

td,th{
  padding: 0 !important;
}
.table>:not(caption)>*>* {
  // padding: 0 !important;
}
.td-content{
  padding: 19px 8px 17px 0 !important;
  line-height: 1.1875rem;
}
.adduser{
  padding: 32px !important;
}
.modal-header{
  h5{
    font-size: 1.5rem;
    line-height: 1.8125rem;
  }
  .btn-close {
    width: 24px;
    height: 24px;
    padding: 0 !important;
  }
}
.modal-body {
  padding: 0 2rem !important;
  .title{
    padding-top: 24.5px;
    font-size: 1.25rem;
  }
}
.mail-input-style{
  padding-bottom: 24.5px;
  border-bottom: 1px solid $border-color;
}
.send-verification{
  padding-bottom: 24.5px;
  border-bottom: 1px solid $border-color;
  button{
    &:hover{
      border: 1px solid $text-color;
    }
  }
}
.select-level{
  padding-bottom: 24.5px;
  border-bottom: 1px solid $border-color;
}
.label-title{
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
.verification-status{
  line-height: 1.1875rem;
}
.modal-footer{
  padding: 16px 32px !important;
}
.btn{
  padding: 8px 32px !important;
  border-radius: 2px !important;
}
.form-control{
  border-radius: 2px !important;
  line-height: 1.1875rem !important;
}
.form-control.readonly{
  background-color: $bg-color !important;
}
.form-select {
  border-radius: 2px !important;
  line-height: 1.1875rem !important;
}
.form-check-input {
  border: 2px solid $text-color !important;
  border-radius: 2px !important;
}
.permissions{
  padding-bottom: 32px;
}
//edit modal
.verification-date{
  font-size: 0.875em;
  line-height: 1.0625rem;
}
.send-verification.disabled{
  button{
    border: 1px solid $border-color;
    color: $border-color;
  }
}
.permissions.edit{
  padding-bottom: 24.5px;
  border-bottom: 1px solid $border-color;
}
.delete{
  .btn{
    &:hover{
      color: #fff !important;
    }
  }
}
.delete-acount{
  padding-bottom: 24px;
}
//view
.manger-info{
  padding: 32px !important;
}
.manger-photo{
  width: 141px;
  height: 141px;
}
.level{
  font-size: 1.1875rem;
  line-height: 1.5rem;
}
.manger-name{
  font-size: 1.5rem;
  line-height: 1.8125rem;
}
.manger-mail{
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: $text-color2;
}
.expand_more {
  display: none;
}
.expand_less {
  display: inline-block;
}
.collapsed .expand_more {
  display: inline-block;
}

.collapsed .expand_less {
  display: none;
}
.hash{
  line-height: 1.1875rem;
}
.status{
  font-size: 0.875rem;
  line-height: 1.0625rem;
}